/* src/Donut.css */

.donut-container {
  background-color: black;
  color: var(--donut-color, white);
  font-family: monospace;
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 10px;
}

.donut-container pre {
  margin: 0;
  line-height: 1;
  font-size: 1em;
  word-break: break-all;
}

@media (max-width: 768px) {
  .donut-container pre {
    font-size: 0.6em;
  }
}
